body {
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.navbar {
  margin-bottom: 0px!important;
  border-radius: 0px!important;
}

.logo {
  padding-top: 5px;
  width: 110px;
  height: auto;
}

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;
}

.banner {
  height: 400px;
}

.banner-title {
  font-size: 45px;
  margin-bottom: 0px;
  margin-top: 100px;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
}

.contattaci-title {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 100px;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 2px #4ca6ff;
  text-transform: uppercase;
}

.banner-subtitle {
  text-transform: uppercase;
  color: #F2F2F2;
}

.about {
  padding: 20px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.quality {
  padding: 20px;
  background-color: #4ca6ff;
  color: #fff;
}

.quality-title {
  margin-top: 50px;
}

.quality-last-p {
  margin-bottom: 60px;
}

.lightBlue {
  color: #4ca6ff;
}

.white {
  color: #fff;
}

.category {
  width: 100%;
  height: 80px;
}

.category-title {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  float: right;
  margin-right: 20px;
  padding-top: 10px;
}

.category-subtitle {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pmd-card-body p {
  font-size: 12px;
}

.media-body p {
  font-size: 10px;
  line-height: 1.1;
}

.card-image {
  margin-bottom: 18px;
  width: 150px;
  height: auto!important;
}

.last-card {
  margin-bottom: 100px;
}

.contacts h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
}

@media (max-width: 768px) {
  .table td {
    font-size: 11px!important;
  }
}

#map {
  height: 300px;
  width: 100%;
}

.map-container {
  border: 0.2px solid #cccccc;
}

.address {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .address {
    font-size: 12px;
  }
}

.preventivo-text {
  margin-top: 30px;
  font-size: 16px;
}

.form-preventivo {
  padding-left: 5px;
  padding-right: 5px;
}

.first-input {
  padding-top: 10px;
}

.btn-preventivo {
  margin: 15px;
  float: right;
}

.mail_outline,
.phone,
.input {
  position: relative;
  top: 7px;
}

.no-padding-top {
  padding-top: 0px!important;
}

/* footer styles */
footer {
  min-height: 120px;
  width: 100%;
  background-color: #666666;
  color: #e5f2ff;
  border-top: 3px solid #aeb5c1;
}

.footer-logo {
  margin-top: 15px;
  margin-bottom: 5px;
  height: 40px;
}

footer p {
  font-size: 10px;
  line-height: 0.7;
}

footer a {
  color: #f7f7f7;
}

.inmagik-credits {
  border-top: 0.3px solid #686c73;
  padding-top: 10px;
  color: #c0f2ff;
}

.inmagik-credits a {
  color: deepskyblue;
  font-family: monospace;
  font-size: 11px;
}
.inmagik-logo {
  width: 20px;
  height: auto;
}
